.entryForm {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #000138;
}

.inputField {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.submitButton {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #45a049;
}







.toggleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.347);
    border-radius: 8px;
    padding: 10px;
  }
  
  .toggleLabel {
    /* margin-right: 1rem; */
  }

  .switch {
    position: relative;
    width: 30px;
    height: 17px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff0000;
    transition: 0.4s;
    border-radius: 17px;
  } 
  /* pelotita de adentro */
   .slider:before {
    position: absolute;
    content: '';
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    border-radius: 50%;
  } 
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(13px);
  }
  








@media (max-width: 768px) {
    .entryForm {
        margin: 20px;
        padding: 15px;
    }
}
