.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title{
    font-weight: bold;
    font-size: 5rem;
    color: black;
    text-shadow: 2px 2px 4px #000000;
animation: colorchange 10s infinite;
text-align: center;
}
@keyframes colorchange {
    0% {
        color: black;
    }
    25% {
        color: red;
    }
    50% {
        color: blue;
    }
    75% {
        color: green;
    }
    100% {
        color: black;
    }
}
.imoji{
    font-size: 5rem;
    margin-top: 1rem;
    text-align: center;
    color: black;
    text-shadow: 1px 5px 5px #000000;
 animation : fontchange 2s infinite;
}
@keyframes fontchange {
    0% {
        font-size: 5rem;
    }
    50% {
        font-size: 5.2rem;
    }

    100% {
        font-size: 5rem;
    }
}
.text{
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-top: 1rem;
    background-color: red;
    border-radius: 10px;
    padding: 5px;
}
.text2{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1rem;
    background-color: rgb(105, 0, 94);
    border-radius: 10px;
    padding: 5px;
}


@media (max-width: 768px) {
    .title {
        font-size: 3rem;
   
    }
}