.TabContainer{
display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    padding: 3px;
    background-color: rgb(207, 206, 206);
    cursor: pointer;
}
.TabContainer:hover{
    border: 1px solid #000000;
    padding: 3px;
}
.active{
    border: 1px solid #000000;
    padding: 3px;
    background-color: #fff;
}
.remove{
    color: red;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
}
.remove:hover{
    color: #000;
}
