a{
    color:white;
    text-decoration: none;
}
.header {
    background-color: #000619;
    padding: 10px 20px;
}

.navList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
}

.navItem {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}

.navItem:hover {
    background-color: #ff0000;
    border-radius: 5px;

}

.logoutButton {
    background-color: #585858;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.logoutButton:hover {
    background-color: #ff1a1a;
}

@media (max-width: 768px) {
    .navList {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        max-height: 200px;
        padding: 0;
        
        
    }
    .navList li:last-child {
        margin-top: 60px;
        margin-bottom: 60px;        
    }
}
